body{
    font-family: 'Poppins', sans-serif !important;
    text-align: center;
    background-image: url(/img/Ellipse\ 22.png);
    background-repeat: no-repeat;

}

.logo-O {
    margin-right: 100%;
    margin-left: -10%;
}